<section>
  <p style="font: 400 1.3em 'Raleway', sans-serif;color: #333;">
    <h1 style="text-align: center;">Welcome. You will receive an email everyday at 03:00PM and 08:00PM with the latest news.</h1>
    <br />
  </p>

  <hr />

  <p style="font: 400 1.3em 'Raleway', sans-serif;color: #333;">
    <h1 style="text-align: center;">Here are the latest news about COVID-19 today:</h1>
  </p>

  <p style="text-align: center;">
    <% @array.each do |hash| %>
      <b><%= hash[:country] %></b> (<%= hash[:date] %>)<br />
      Total Cases: <b style="color:yellowgreen"> <%= hash[:total_cases] %> </b> <br />
      New Cases: <b style="color:yellowgreen">+ <%= hash[:new_cases] %></b> <br />
      Total Deaths: <b style="color:red"><%= hash[:total_deaths] %></b> <br />
      New Deaths: <b style="color:red">+ <%= hash[:new_deaths] %></b> <br />
      Total Recovered: <%= hash[:total_recovered] %> <br />
      Active Cases: <%= hash[:active_cases] %> <br />
      Critical Cases: <%= hash[:critical_cases] %> <br />
      <br />
    <% end %>
  </p>

  <%= render 'footer_email' %>

</section>
