<div class="demo">
  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>

      <div class="front">
        <h1 class="main-title">
          We will send you reliable COVID-19 information daily
        </h1>

        <%= render 'layouts/flash' %>

        <div class="subscribe-box">
          <%= form_for @email, :url => { :action => "create", controller: 'emails'}, html: {class: "subscribe", autocomplete: "off"} do |f| %>
            <%= f.fields_for :preferences do |p| %>
              <%= p.select :country_id, options_for_select(@countries.pluck(:name, :id)), {include_blank: "Select a region..."}, {class: "form-control"} %>
            <% end %>
            <br />
            <%= f.email_field :email, placeholder: "example@gmail.com", required: true %>
            <%= button_tag(type: 'submit', class: "btn submit", id: 'validForm') do %>
              <span class="icon-envelope">Subscribe</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js'></script>
